* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    background-color: #F9FAFA;
}

.p--15 {
    padding: 15px !important;
}

.btn-blue-primary {
    background: #1EA2ED;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
}

.navbar {
    padding: 24px 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar .navbar-brand {
    font-size: 24px;
    line-height: 29px;
    color: #000;
    font-weight: 700;
}

.navbar .navbar-brand img {
    margin-right: 60px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
    width: 100%;
    height: 70px;
}

.nav h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #272F36;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav h1 .ic-1 {
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

.nav h1 .ic-2 {
    width: 32px;
    height: 32px;
    margin-left: 16px;
}

.nav .nav-brand {
    cursor: pointer;
}

.nav .nav-brand a {
    text-decoration: none;
}

.nav .nav-brand .title-mobile {
    display: none;
}

.nav .btn-logout {
    border: 1px solid #F96B6B;
    border-radius: 8px;
    width: 87px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #F96B6B;
    cursor: pointer;
    transition: .3s all ease-in-out;
    background-color: transparent;
}

.nav .btn-logout:hover {
    background-color: #F96B6B;
    color: #FFFFFF;
}

/* Login Page */

.login-page {
    position: relative;
}

.login-page .content {
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    background-color: #F9FAFA;
}

.login-page .content h2 {
    font-size: 18px;
    line-height: 30px;
    color: #000;
    font-weight: 600;
    margin-bottom: 20px;
}

.login-page .content p {
    font-size: 16px;
    line-height: 27px;
    font-weight: 500;
    color: #000;
    margin-bottom: 50px;
}

.login-page .content p span {
    color: #F36F21;
}

.login-page .content .btn-login {
    border: 1px solid #E3E7EB;
    border-radius: 8px;
    color: #000;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.login-page .content .btn-login img {
    margin-right: 20px;
}

/* Dashboard Page */

.dashboard-page {
    height: 100vh;
}

.dashboard-page .navbar .btn-logout {
    border: 1px solid #1EBAED;
    border-radius: 4px;
    color: #1EBAED;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    letter-spacing: 0.05em;
    padding: 12px 21px;
    transition: all .3s ease-in-out;
}

.dashboard-page .navbar .btn-logout:hover {
    background-color: #1EBAED;
    color: #fff;
}

.dashboard-page .content {
    padding-top: 42px;
}

.dashboard-page .content .card-columns {
    column-count: 1;
}

.dashboard-page .content .cards-column {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
}

.dashboard-page .content .card-columns .card {
    margin-bottom: 0;
    border: none;
    background-color: transparent;
}

.dashboard-page .content .card-columns .card .card-title {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.14em;
    color: #777777;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.dashboard-page .content .card-columns .card .card-body {
    border: 1px solid #CBCED2;
    border-radius: 8px;
    background-color: #FFFFFF;
}

.content .card .app-menu,
.modal .app-menu {
    width: 128px;
    /* height: 70px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
}

.modal .app-menu {
    height: 128px;
}

.content .card .app-menu a,
.modal .app-menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.card .app-menu .img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .app-menu .img {
    width: 78px;
    height: 78px;
    margin-bottom: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .card .app-menu .img.small,
.modal .app-menu .img.small {
    width: 48px;
    height: 48px;
} */

.card .app-menu:hover .img::after,
.modal .app-menu:hover .img::after {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.card .app-menu .img::after,
.modal .app-menu .img::after {
    content: '';
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F3F9F9;
    border-radius: 20px;
    z-index: 1;
    transition: .2s all ease-in-out;
    transform: scale(.7);
}

.card .app-menu .img img {
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 2;
}

.modal .app-menu .img img {
    width: 68px;
    height: 68px;
    position: relative;
    z-index: 2;
}

/* .card .app-menu .img.small img,
.modal .app-menu .img.small img {
    width: 35px;
    height: 35px;
} */

.card .app-menu p,
.modal .app-menu p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #70767D;
    margin: 0;
    word-wrap: break-word;
    max-width: 108px;
}

.card .app-menu:hover p,
.modal .app-menu:hover p {
    font-weight: 600;
    color: #1EA2ED;
}

/* .dashboard-page .content .card-columns .card p,
.dashboard-page .content .card-columns .card .p {
    text-align: center;
    margin: auto 0 0 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #70767D;
} */

.dashboard-page .content .card-columns .card .col-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    min-height: 120px;
}

.dashboard-page .content .card-columns .card .card-body {
    padding: 12px 0 12px;
}

.dashboard-page .content .card-columns .card .col-4 .icon,
.dashboard-page .content .card-columns .card .col-4 .icon-hover {
    min-height: 60px;
    display: flex;
    align-items: center;
}

.dashboard-page .content .card-columns .card .col-4 {
    cursor: pointer;
}

/* .dashboard-page .content .card-columns .card .col-4 img.icon-hover,
.dashboard-page .content .card-columns .card .col-4:hover img.icon {
    display: none;
}

.dashboard-page .content .card-columns .card .col-4:hover img.icon-hover {
    display: block;
} */

/* Modal */

.modal-header button {
    outline: none !important;
    appearance: none !important;
}

.modal-header .back {
    border: none;
    background-color: transparent;
    padding-left: 0;
    padding-right: 12px;
    border-right: 1px solid #CDD1D5;
    margin-right: 12px;
}

.modal-header .back img {
    margin: 0 !important;
    padding: 0 !important;
    width: 24px;
    height: 24px;
}

.modal-header .back .hover {
    display: none;
}

.modal-header .back:hover .icon {
    display: none;
}

.modal-header .back:hover .hover {
    display: block;
}

.modal .modal-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #272F36;
}

.modal-header .modal-title span {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #70767D;
}

.modal-header .modal-title img {
    margin: 0 4px;
}

.modal .close {
    color: #1EBAED;
    font-size: 36px;
    line-height: 18px;
    font-weight: 500;
}

.modal .modal-dialog {
    max-width: 100%;
}

.modal .modal-content,
.modal .modal-header {
    border: none;
    border-radius: 8px;
}

.modal .modal-header {
    display: flex;
    align-items: center;
    padding: 24px 24px 15px 24px;
    border-bottom: 1px solid #EEEEEE;
}

.modal .modal-body {
    padding: 20px 20px 24px;
}

.modal .col-4,
.modal .col-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 0 10px;
}

.modal .col-4 img.icon,
.modal .col-6 img.icon,
.modal .col-4 img.icon-hover,
.modal .col-6 img.icon-hover {
    max-width: 84px;
}

.modal .col-4:hover img.icon,
.modal .col-6:hover img.icon,
.modal .col-4 img.icon-hover,
.modal .col-6 img.icon-hover {
    display: none;
}

.modal .col-4:hover img.icon-hover,
.modal .col-6:hover img.icon-hover {
    display: block;
}

.modal .col-4 .p,
.modal .col-6 .p {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-align: center;
    margin: 16px 0 0 0;
    text-decoration: none;
}

.modal-payment .phone-list {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.modal-payment .phone-list .phone-item {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EEEEEE;
}

.modal-payment .phone-list .phone-item p {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #272F36;
    margin: 0;
}

.modal-payment .phone-list .phone-item .call-number {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    text-decoration: none;
    cursor: pointer;
}

.modal-payment .phone-list .phone-item .call-number p {
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #1EA2ED;
}

.modal-payment .modal-body {
    padding: 10px 20px;
}

.modal-downloads .modal-body {
    padding: 16px 24px 20px;
}

.modal-downloads .accordion .card {
    border: none;
}

.modal-downloads .accordion .card .card-header {
    background-color: transparent;
    border: none;
    padding: 12px 0;
}

.modal-downloads .accordion .card .card-header .btn {
    padding: 0;
    outline: none;
    appearance: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-downloads .accordion .card .card-header .btn h2 {
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #000000;
}

.modal-downloads .accordion .card .card-header .btn img {
    width: 20px;
    height: 20px;
}

.modal-downloads .accordion .card .card-header .btn[aria-expanded="false"] img {
    transform: rotate(180deg);
    transition: .3s all ease-in-out;
}

.modal-downloads .accordion .card .card-header .btn[aria-expanded="true"] img {
    transform: rotate(0deg);
    transition: .3s all ease-in-out;
}

.modal-downloads .accordion .card .card-body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px 0 0;
    margin-bottom: 5px;
}
.modal-downloads .accordion .card .card-body .download-item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    padding: 20px 0;
    border-bottom: 1px solid #EEEEEE;

    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #1EA2ED;
}

.modal-downloads .accordion .card .card-body .download-item img {
    width: 20px;
    height: 20px;
}

.modal-downloads .accordion .card .card-body {
    border-bottom: 1px solid #EEEEEE;
}
.modal-downloads .accordion .card .card-body .download-item:last-child {
    border-bottom: none;
}

.modal-downloads .accordion .card:last-child .card-body {
    border-bottom: none;
}
.modal-downloads .accordion .card:last-child .card-body .download-item:last-child {
    border-bottom: 1px solid #EEEEEE;
}

.bg-content.modalBlur > *:not(.modal) {
    /* -webkit-filter: blur(4px);
    filter: blur(4px); */

    background: #272F36;
    opacity: 0.08;
}

.modal-backdrop {
    background: #272F36;
    opacity: 0.08;
}

@media (min-width: 576px) {
    .container {
        max-width: 680px;
    }
    .login-page .content h2 {
        font-size: 24px;
        line-height: 36px;
        color: #000;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .login-page .content p {
        font-size: 21px;
        line-height: 32px;
        font-weight: 500;
        color: #000;
        margin-bottom: 50px;
    }
    .login-page .content .btn-login {
        border: 1px solid #E3E7EB;
        border-radius: 8px;
        color: #000;
        padding: 15px 30px 15px 20px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
    }
    .login-page .content .btn-login img {
        margin-right: 30px;
        width: 30px;
        height: 30px;
    }
    .dashboard-page .content .card-columns .card {
        margin: 20px 0 20px;
    }
    .dashboard-page .content .card-columns .card .card-body {
        padding-left: 0;
        padding-right: 0;
    }
    .card .app-menu .img {
        width: 62px;
        height: 62px;
    }
    .card .app-menu .img img {
        width: 52px;
        height: 52px;
    }
    .modal .modal-dialog {
        max-width: 380px;
    }
    .modal-payment .phone-list .phone-item p,
    .modal-payment .phone-list .phone-item .call-number p {
        font-size: 14px;
        line-height: 17px;
    }
    .modal-payment .modal-body {
        padding: 10px 20px 36px;
    }
    .modal-downloads .modal-dialog {
        max-width: calc(100% - 60px);
    }
    .modal-downloads .accordion .card .card-body {
        grid-template-columns: repeat(2, 1fr);
    }
    .card .app-menu .img {
        margin-bottom: 18px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: calc(100% - 60px);
    }
}

@media (min-width: 850px) {
    .dashboard-page .content .card-columns {
        column-count: 2;
    }
    .dashboard-page .content .card-columns .card .card-body {
        padding-left: 15px;
        padding-right: 15px;
    }
    .dashboard-page .content .card-columns .card {
        margin: 0;
    }
    .dashboard-page .content .card-columns .card.card-2,
    .dashboard-page .content .card-columns .card.card-5,
    .dashboard-page .content .card-columns .card.card-6 {
        margin-top: 70px;
    }
    .dashboard-page .content .card-columns .card.card-3 {
        margin-bottom: 70px;
    }
    .dashboard-page .content .card-columns .card.card-4 {
        min-height: unset;
        /* margin-top: 70px; */
    }
    .modal-downloads .accordion .card .card-header .btn img {
        width: 24px;
        height: 24px;
    }
    .modal-downloads .accordion .card .card-header .btn h2 {
        font-size: 16px;
    }
    .modal-downloads .accordion .card .card-body .download-item {
        font-size: 14px;
        line-height: 17px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
    .dashboard-page {
        height: 100%;
        /* overflow-y: hidden; */
    }
    .dashboard-page .content .card-columns {
        column-count: 3;
        column-gap: 30px;
    }
    .dashboard-page .content .card-columns .card.card-2,
    .dashboard-page .content .card-columns .card.card-6 {
        margin-top: 40px;
    }
    .dashboard-page .content .card-columns .card.card-3 {
        margin-bottom: 0;
    }
    .dashboard-page .content .card-columns .card.card-4 {
        min-height: 309px;
        margin-top: 40px;
    }
    .dashboard-page .content .card-columns .card.card-5 {
        margin: 0;
    }
    .dashboard-page .content .card-columns .card .card-body {
        padding-left: 0;
        padding-right: 0;
    }
    .dashboard-page .content .card-columns .card .col-4 {
        min-height: 70px;
    }
    .dashboard-page .content .card-columns .card .col-4 .icon,
    .dashboard-page .content .card-columns .card .col-4 .icon-hover {
        min-height: 30px;
        max-width: 50px;
        display: flex;
        align-items: center;
    }

    .card .app-menu .img {
        width: 58px;
        height: 58px;
    }
    .card .app-menu .img img {
        width: 48px;
        height: 48px;
    }

    .modal .col-4 img.icon,
    .modal .col-6 img.icon,
    .modal .col-4 img.icon-hover,
    .modal .col-6 img.icon-hover {
        max-width: 50px;
    }
    .modal-payment .phone-list .phone-item p,
    .modal-payment .phone-list .phone-item .call-number p {
        font-size: 16px;
        line-height: 20px;
    }
    .modal-downloads .accordion .card .card-body {
        grid-template-columns: repeat(3, 1fr);
    }
    .modal .modal-dialog {
        max-width: 456px;
    }
    .modal-downloads .modal-dialog {
        max-width: 1100px;
    }
    .modal-downloads .accordion .card .card-body .download-item {
        align-items: center;
        flex-direction: row;
        grid-gap: 6px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1255px;
    }
    .dashboard-page .content .card-columns .card .col-4 .icon, 
    .dashboard-page .content .card-columns .card .col-4 .icon-hover {
        max-width: 55px;
        margin-bottom: 5px;
    }
    .ic-xl-mb-0 {
        margin-bottom: 0 !important;
    } 
    .ic-xl-mt--5 {
        margin-top: 5px !important;
    }
}

@media(max-width: 767px) {
    .nav {
        padding: 28px 20px 28px 40px;
        height: 86px;
    }
    .nav h1 {
        line-height: 1.2;
    }
}

@media(max-width: 670px) {
    .nav {
        padding: 10px 24px;
        height: 70px;
    }
    .nav .nav-brand {
        display: flex;
        flex-direction: column;
    }
    .nav .nav-brand h1 {
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        color: #272F36;
        text-align: left;
        margin: 2px 0 0;
    }
    .nav .title-desktop {
        display: none;
    }
    .nav .nav-brand .title-mobile {
        display: block;
    }
}
 
@media (max-width: 575px) {
    .container {
        padding: 0;
    }
    .navbar {
        padding: 24px 20px;
    }
    .navbar .navbar-brand img {
        margin-right: 0;
    }
    .ic-sm-mt--5 {
        margin-top: 5px !important;
    }
    .dashboard-page .content {
        padding-top: 5px;
    }
    .dashboard-page .content .card-columns .card {
        background-color: #FFFFFF;
        padding: 25px 20px 0;
    }
    .dashboard-page .content .card-columns .card .card-body {
        border: none;
    }
    .card .app-menu p,
    .modal .app-menu p {
        font-size: 12px;
        line-height: 17px;
    }
    .modal-dialog {
        margin: 0;
        align-items: flex-end;
        height: 100%;
    }
    .modal.fade .modal-dialog {
        transform: none;
    }
    .modal,
    .modal .modal-content {
        position: fixed;
        left: 0;
        opacity: 0;
        visibility: hidden;
        width: 100vw;
        transition: .5s all ease-in-out;
    }
    .modal .modal-content {
        bottom: -100px;
    }
    .modal.show,
    .modal.show .modal-content {
        opacity: 1;
        visibility: visible;
        transition: .5s all ease-in-out;
    }
    .modal.show .modal-content {
        bottom: 0;
        max-height: 90%;
    }
    .modal .modal-content {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .modal-header .modal-title {
        font-size: 13px;
        line-height: 15px;
    }
    .modal .app-menu {
        width: 100%;
        margin: 0;
    }
    #modalInjury .btn-blue-primary {
        width: 100%;
    }
}